@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Nunito",sans-serif;
    background: #AA96DA;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    background: #393e467d;
    padding: 1.3rem;
    border-radius: 5px;


}
.container h1{
    text-align: center;
    margin-bottom: 30px;

}
.container a{
    text-decoration: none;
    color: lightblue;
    

}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background:white;
    padding: 15px;
    font-family: inherit;
    font-size: 1rem;
    border:0;
    border-radius: 5px;



}
btn:focus{
    outline: none;
}
btn:active{
    transform: scale(0.98);
}
.text{
    margin-top: 30px;
}
.class-control{
    position: relative;
    margin: 20px 0px 40px;
    width: 300px;
}
.class-control input{
    background:transparent;
    border: none;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 1rem;;
    color: #fff; 

}
.class-control input:focus,
.class-control input:valid{
    outline: none;
    border-bottom-color: lightblue;

}
.class-control label{
    position: absolute;
    top: 1rem;
    left: 0px;
    pointer-events: none;

}
.class-control input:focus + label span,
.class-control input:focus + label span{
    color: lightblue;
    transform: translateY(-30px);
}

























































